.boton {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background-color: rgba(135, 131, 131, 0.83);
    transition: color red, background-color 0.5s ease-in;
    &:hover {
        color: red;
        background-color: rgba(255, 0, 0, 0.689);
        text-decoration: none;


    }

}

.boton-cancelar {
    @extend .boton;
    background-color: blue;
}