* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header {
  display: flex;
  display: inline-block;
  width: 100%; }
  header .encabezado {
    display: flex; }
    header .encabezado .datosEncabezado {
      border: solid 5px #e4dfdf;
      color: #565555;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      justify-content: center;
      font-size: 20px;
      text-shadow: 2px 2px 3px black;
      background-image: linear-gradient(to left, gray, white);
      width: 100%; }
      header .encabezado .datosEncabezado li {
        list-style: none; }
  header .navbar-expand-lg .navbar-collapse {
    background-image: linear-gradient(to right, #d21d1d, gray);
    border-radius: 20px;
    font-size: 20px; }
    header .navbar-expand-lg .navbar-collapse .container-fluid {
      background-image: linear-gradient(to left, gray, white); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

main .IndicacionesReceta {
  background-image: linear-gradient(to bottom, gray, white); }
  main .IndicacionesReceta .homeIndex {
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    font-size: 20px; }
  main .IndicacionesReceta .recetarios {
    display: flex;
    flex-direction: row; }
  main .IndicacionesReceta .socialMedia {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    text-decoration: none; }
    main .IndicacionesReceta .socialMedia a {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      color: white;
      background-color: rgba(135, 131, 131, 0.83);
      border-radius: 50%;
      transition: color, background-color 0.5s ease-in; }
      main .IndicacionesReceta .socialMedia a:hover {
        color: red;
        background-color: rgba(255, 0, 0, 0.689);
        text-decoration: none; }

main .IndexFinal {
  background-image: linear-gradient(to top, gray, white); }
  main .IndexFinal .homeIndex {
    margin-left: 10px;
    text-align: center;
    font-size: 20px; }
  main .IndexFinal .googleMapa {
    width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

main .accordion-button {
  background-image: linear-gradient(to right, gray, white);
  color: black;
  font-size: 20px;
  text-align: center;
  justify-content: center; }

main .accordion-body {
  background-image: linear-gradient(to bottom, white, #c4c4f6); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.resultadoMain {
  background-image: linear-gradient(to bottom, gray, white); }
  .resultadoMain .homeIndex {
    margin-left: 10px;
    text-align: center;
    font-size: 30px; }
  .resultadoMain .recicle {
    width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

main .covidSection {
  margin: 0%;
  display: inline-block;
  background-image: linear-gradient(to top, gray, white); }
  main .covidSection #covid {
    margin-left: 50px;
    margin-top: 20px;
    float: left; }
  main .covidSection .covid1 {
    font-size: 20px; }
  main .covidSection .tituloCovid {
    font-size: 40px;
    color: red;
    text-align: center; }
  main .covidSection .covidExplicacion {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.5; }
  main .covidSection .covidSubtitulo {
    font-size: 35px;
    color: red;
    text-shadow: 2px 3px 5px black;
    text-align: center; }

main .molecular {
  background-image: linear-gradient(to bottom, gray, white); }
  main .molecular .covid1 {
    font-size: 20px; }
  main .molecular .tituloCovid {
    font-size: 40px;
    color: red;
    text-align: center; }
  main .molecular .tituloCovid2 {
    text-decoration: underline;
    text-align: center;
    font-size: 40px; }

main .profBioq {
  display: flex;
  background-image: linear-gradient(to top, gray, white); }
  main .profBioq #fotoProfesional {
    display: flex;
    width: 20vw;
    height: 30vh;
    border: solid 2px gray; }
  main .profBioq .profesional {
    text-align: center;
    padding: 50px;
    font-size: 25px; }

main .profBioq1 {
  display: flex;
  background-image: linear-gradient(to bottom, gray, white); }
  main .profBioq1 #fotoProfesional {
    display: flex;
    width: 20vw;
    height: 30vh;
    border: solid 2px gray; }
  main .profBioq1 .profesional {
    text-align: center;
    padding: 50px;
    font-size: 25px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

main .formulario #formContact {
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to top, gray, white); }
  main .formulario #formContact #telefono {
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 20px; }
  main .formulario #formContact #nombre {
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    font-size: 20px; }
  main .formulario #formContact #message {
    background-color: rgba(211, 204, 204, 0.96);
    border-radius: 10px;
    font-size: 20px; }
  main .formulario #formContact #email {
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    font-size: 20px; }
  main .formulario #formContact .boton {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    background-color: rgba(135, 131, 131, 0.83);
    transition: color red, background-color 0.5s ease-in; }
    main .formulario #formContact .boton:hover {
      color: red;
      background-color: rgba(255, 0, 0, 0.689);
      text-decoration: none; }
  main .formulario #formContact .contactenos {
    align-items: center;
    justify-content: center;
    font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

footer {
  background-color: #c2c1c1; }
  footer .foot {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to left, gray, white); }
  footer .socialMedia {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    text-decoration: none; }
    footer .socialMedia a {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      color: white;
      background-color: rgba(135, 131, 131, 0.83);
      border-radius: 50%;
      transition: color, background-color 0.5s ease-in; }
      footer .socialMedia a:hover {
        color: red;
        background-color: rgba(255, 0, 0, 0.689);
        text-decoration: none; }
