*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* Header Style */

header {
    /* display: block; */
    display: flex;
    display: inline-block;
    width: 100%;
    
    
   

}

header nav a:link{
    color:rgb(15, 1, 15)

}

header nav a:visited{
    color: rgb(15, 1, 15)

}

header nav a:hover{
    color:rgba(245, 235, 235, 0.775)


}

header nav a:active{
    color: gray

}

li {
    list-style: none;
}


/* header div .lab {
    text-align: right;
}
 */
.barrNav {
    border: solid 2px gray;
    background-color: rgba(240, 14, 14, 0.933);
    background-image: linear-gradient(red, gray);
    border-radius: 1cm;
    margin: 25px;
    text-align: center;
    justify-content: center;
    

    
}

header nav .menu {
    display: inline-flex;
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 7px;
    margin: 25px;
    
    
    
    
}


#logo {
    display: flex;
    position: relative;
    width: 30%;
    height: 30%;
}

.encabezado {
    display: flex;
    
    
}
.datosEncabezado {
    border: solid 5px rgb(228, 223, 223);
    color: rgb(86, 85, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0) ;
    background-image: linear-gradient(to left, gray, white);
    width: 100%;
    
}


/* Main Style */

/* main {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
} */


.analisisIndicaciones {
    display: grid;
  /*  display: flex;
   display: inline-block; */
   grid-template-columns: 500px 500px ;
   grid-template-rows: repeat(2, 33%);
   padding: 15px;
   justify-content: center;
   align-items: center;
   
   

    
}


.indicaciones {
    display: inline-block;
    display: grid;
    border: solid 3px gray;
    color: rgba(61, 61, 61, 0.987);
    width: 100%;

}

.indicacionesArticle {
    /* background-color: red; */
    background-image: linear-gradient(to left, red, white);
    padding: 10px;
    
}

#tiroides {
    /* display: flex; */
    object-fit: contain;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
}
#fertilidad {
    /* display: flex; */
    object-fit: contain;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;

}
#prostatico {
    /* display: flex; */
    object-fit: contain;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;

}

#rutina {
    /* display: flex; */
    object-fit: contain;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size:  40px;
    color: red;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
    font-size: medium;
}


.covidSubtitulo {
    font-size: 35px;
    color: red;
    text-shadow: 2px 3px 5px black;
    text-align: center;
}

.covid1{
    font-size: 20px;
}

.profBioq {
    display: flex;
}

#fotoProfesional {
    display: flex;
    width: 20vw;
    height: 30vh;
    border: solid 2px gray

}

.profesional {
    text-align: center;
    padding: 50px;
    font-size: 25px;
    
}

#covid {
    
     margin-left: 50px;
     margin-top: 20px;
     float: left;
     
}

.covidSection {
    margin: 0%;
    display: inline-block;


}


.covidExplicacion {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.5
}
.covidSection img{
    border-radius:  5px;
    width: 30%;
   
}

#mapa{
    display: flex;
}

#labFondo {
    background-image: url(../image/labFondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
    z-index: 0;
    
}

#telefono {
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    
}
#nombre {
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    font-size: 20px;
}
#message{
    background-color: rgba(211, 204, 204, 0.96);
    border-radius: 10px;
    font-size: 20px;
}

#formContact{
    text-align: center;
    justify-content: center;
}

#email{
    background-color: rgba(245, 165, 165, 0.96);
    border-radius: 10px;
    font-size: 20px;
}

.contactenos {
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.boton {
    font-size: 20px;
    margin: 10px;
}

.boton:hover{
    color: red;
    background-color: rgba(255, 0, 0, 0.689);
    text-decoration: none;

}
.boton {
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  background-color: rgba(135, 131, 131, 0.83);
  transition: color red, background-color 0.5s ease-in;

}





/* Footer Style */


#footer {
   /*  display: flex; */
   background-color: rgb(194, 193, 193);
}

.foot {
    
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to left, gray, white);
    

}

.socialMedia a {
    
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  color: white;
  background-color: rgba(135, 131, 131, 0.83);
  border-radius: 50%;
  transition: color, background-color 0.5s ease-in;
}

.socialMedia a:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.689);
    text-decoration: none;
}

.socialMedia {
    display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-decoration: none;
  
}

/* Media Queries */

@media (max-width: 428px) {

    .indicacionesArticle {
        /* background-color: red; */
        background-image: linear-gradient(to left, red, white);
        padding-left: 5px;
        margin-right: 300px;
        
    }
    .indicaciones {
        display: inline-block;
        display: grid;
        border: solid 3px gray;
        color: rgba(61, 61, 61, 0.987);
        width: 50%;
    
    }

    #tiroides {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 300px;
   
    }
    #fertilidad {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 300px;
       
    
    }
    #prostatico {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 300px;
    
    }
    
    #rutina {
        display: flex;
        object-fit: contain;
        width: 30vw;
        height: 30vh;
        justify-content: center;
        align-items: center;
        margin-left: 300px;
    
    }

    /* Desplegable Indicaciones */

    main article li:hover > ul {
        display: inline-block

    }

    main article li ul {
        display: none;
        
    }

    #fotoProfesional {
        display: flex;
        width: 30vw;
        height: 20vh;
        border: solid 2px gray
    
    }

    #covid {
        display: none;
    }

  
    .formulario {
        width: 250x;
        height: 250px;
        margin: 2rem;

    }

    #message {
        background-color: rgba(211, 204, 204, 0.96);
        border-radius: 10px;
        font-size: 20px;
        height: 61px;
        width: 370px;
      }

      .boton {
        text-decoration: none;
        width: 5rem;
        height: 3rem;
        border-radius: 5px;
        background-color: rgba(135, 131, 131, 0.83);
        transition: color red, background-color 0.5s ease-in;
      
      }

      .datosEncabezado {
        /* border: solid 5px rgb(228, 223, 223);
        color: rgb(86, 85, 85);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        text-shadow: 2px 2px 3px rgb(0, 0, 0) ;
        background-image: linear-gradient(to left, gray, white);
        width: 100%; */
        display: none;
        
    }

    #logo {
        width: 25rem;
        height: auto;
    }


    }









@media (max-width: 810px) {
    #logo {
        width: 25rem;
        height: auto;
    }

    .barrNav {
        border: solid 2px gray;
        background-color: rgba(240, 14, 14, 0.933);
        background-image: linear-gradient(gray, red);
        border-radius: 1cm;
        margin: 25px;
        text-align: center;
        justify-content: center;
        
    }

    header nav a {
        font-size: x-large;
        text-decoration: none;
    }

    .indicaciones {
        display: inline-block;
        display: grid;
        border: solid 3px gray;
        color: rgba(61, 61, 61, 0.987);
        width: 75%;
    
    }
    #tiroides {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 115px;
   
    }
    #fertilidad {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 115px;
       
    
    }
    #prostatico {
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 30vh;
        margin-left: 115px;
    
    }
    
    #rutina {
        display: flex;
        object-fit: contain;
        width: 30vw;
        height: 30vh;
        justify-content: center;
        align-items: center;
        margin-left: 115px;
    
    }

    .indicacionesArticle {
        /* background-color: red; */
        background-image: linear-gradient(to right, red, white);
        padding-left: -100px;
        border-radius: 20px;
       width: 80%;
        
        
    }


    

}

@media (min-width: 1080px) {
    
}


@media (min-width: 1300px) {
    
}